.carousel-inner
{
    overflow: hidden;

    .item img
    {
        object-fit:fill;
    }
}
.carousel-indicators li
{
    visibility: hidden;
}
.carousel-caption
{
    z-index:50;
    color: #fff;
    background: rgba(0,0,0,0.4);
}
