<!DOCTYPE html>

<!--
# GNU Affero General Public License v3.0
#
# CGAR (Clinical Genome & Ancestry Report) - an interactive platform to identify
# phenotype-associated variants from next-generation sequencing data
# Copyright (C) 2017-2020  In-Hee Lee, Jose A Negron La Rosa
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<html lang="en">
    <head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F8X49H074V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-F8X49H074V');
</script>

        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.18/css/jquery.dataTables.css">
                <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css')}}">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
                <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
                <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
                <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/js/mdb.min.js"></script>
                <script src="//cdn.datatables.net/plug-ins/1.10.16/sorting/formatted-numbers.js"></script>
                
                <!--
                 IN-HOUSE STYLES
                 ===============
                 -->
                <script>
                    document.title = "CGAR"
                </script>
                <style>
                    html {
                        position: relative;
                        min-height: 100%;
                    }
                    /*.container{width:100%}*/
                    .query1{
                        padding: 2px 4px 3px;
                        font-size: 11.049999999999999px;
                        font-weight: bold;
                        color: #ffffff;
                        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
                        background-color: #999999;
                        border-radius: 3px;
                    }
                    .abbr{
                        border-bottom-width:1px;
                        border-bottom-style:dotted;
                    }
                    textarea{
                        width:100%;
                    }
                    .hiddenRow {
                        padding: 0 !important;
                    }
                
                    @import url('//cdn.datatables.net/1.10.2/css/jquery.dataTables.css');
                    td.details-control {
                        background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
                        cursor: pointer;
                    }
                    tr.shown td.details-control {
                        background: url('http://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
                    }
                    #content {
                        height: 200px;
                        overflow-y: scroll;
                    }
                    .page {
                        height: 100px;
                    }
                    .navbar-toggle .icon-bar {
                        background-color: #fff;
                    }
                    .imgContainer{
                        float:left;
                    }
                    .modal-dialog{
                        width: 80%;
                        height: 80%;
                    }
                </style>
                
                <!--
                HUMAN GENE MUTATION DATABASE (HGMD (G))
                =======================================
                -->
                                
                                <script>
                                    $(document).ready(function () {
                                                      $("#h_All").click(function () {
                                                                        $(".h_any").prop('checked', $(this).prop('checked'));
                                                                        });
                                                      $(".h_any").change(function(){
                                                                         if (!$(this).prop("checked")){
                                                                         $("#h_All").prop("checked",false);
                                                                         }
                                                                         });
                                                      });
                                                      
                                                      $(document).ready(function () {
                                                                        $("#h_hig").click(function () {
                                                                                          $(".h_high").prop('checked', $(this).prop('checked'));
                                                                                          $('#h_All').prop('checked', false);
                                                                                          });
                                                                        $(".h_high").change(function(){
                                                                                            if (!$(this).prop("checked")){
                                                                                            $("#h_hig").prop("checked",false);
                                                                                            }
                                                                                            });
                                                                        });
                                                                        
                                                                        $(document).ready(function () {
                                                                                          $("#h_mod").click(function () {
                                                                                                            $(".h_moderate").prop('checked', $(this).prop('checked'));
                                                                                                            $('#h_All').prop('checked', false);
                                                                                                            });
                                                                                          $(".h_moderate").change(function(){
                                                                                                                  if (!$(this).prop("checked")){
                                                                                                                  $("#h_mod").prop("checked",false);
                                                                                                                  }
                                                                                                                  });
                                                                                          });
                                                                                          
                                                                                          $(document).ready(function () {
                                                                                                            $("#h_low").click(function () {
                                                                                                                              $(".h_low2").prop('checked', $(this).prop('checked'));
                                                                                                                              $('#h_All').prop('checked', false);
                                                                                                                              });
                                                                                                            $(".h_low2").change(function(){
                                                                                                                                if (!$(this).prop("checked")){
                                                                                                                                $("#h_low").prop("checked",false);
                                                                                                                                }
                                                                                                                                });
                                                                                                            });
                                    </script>
                                
                                <!--
                                 CLINVAR
                                 =======
                                 -->
                                
                                <script>
                                    $(document).ready(function () {
                                                      $("#c_All").click(function () {
                                                                        $(".c_any").prop('checked', $(this).prop('checked'));
                                                                        });
                                                      $(".c_any").change(function(){
                                                                         if (!$(this).prop("checked")){
                                                                         $("#c_All").prop("checked",false);
                                                                         }
                                                                         });
                                                      });
                                                      
                                                      $(document).ready(function () {
                                                                        $("#c_hig").click(function () {
                                                                                          $(".c_high").prop('checked', $(this).prop('checked'));
                                                                                          $('#c_All').prop('checked', false);
                                                                                          });
                                                                        $(".c_high").change(function(){
                                                                                            if (!$(this).prop("checked")){
                                                                                            $("#c_hig").prop("checked",false);
                                                                                            }
                                                                                            });
                                                                        });
                                                                        
                                                                        $(document).ready(function () {
                                                                                          $("#c_mod").click(function () {
                                                                                                            $(".c_moderate").prop('checked', $(this).prop('checked'));
                                                                                                            $('#c_All').prop('checked', false);
                                                                                                            });
                                                                                          $(".c_moderate").change(function(){
                                                                                                                  if (!$(this).prop("checked")){
                                                                                                                  $("#c_mod").prop("checked",false);
                                                                                                                  }
                                                                                                                  });
                                                                                          });
                                                                                          
                                                                                          $(document).ready(function () {
                                                                                                            $("#c_low").click(function () {
                                                                                                                              $(".c_low2").prop('checked', $(this).prop('checked'));
                                                                                                                              $('#c_All').prop('checked', false);
                                                                                                                              });
                                                                                                            $(".c_low2").change(function(){
                                                                                                                                if (!$(this).prop("checked")){
                                                                                                                                $("#c_low").prop("checked",false);
                                                                                                                                }
                                                                                                                                });
                                                                                                            });
                                    </script>
                                
                                <!--
                                 ORPHANET (R)
                                 ============
                                 -->
                                
                                <script>
                                    $(document).ready(function () {
                                                      $("#o_All").click(function () {
                                                                        $(".o_any").prop('checked', $(this).prop('checked'));
                                                                        });
                                                      $(".o_any").change(function(){
                                                                         if (!$(this).prop("checked")){
                                                                         $("#o_All").prop("checked",false);
                                                                         }
                                                                         });
                                                      });
                                                      
                                                      $(document).ready(function () {
                                                                        $("#o_hig").click(function () {
                                                                                          $(".o_high").prop('checked', $(this).prop('checked'));
                                                                                          $('#o_All').prop('checked', false);
                                                                                          });
                                                                        $(".o_high").change(function(){
                                                                                            if (!$(this).prop("checked")){
                                                                                            $("#o_hig").prop("checked",false);
                                                                                            }
                                                                                            });
                                                                        });
                                                                        
                                                                        $(document).ready(function () {
                                                                                          $("#o_mod").click(function () {
                                                                                                            $(".o_moderate").prop('checked', $(this).prop('checked'));
                                                                                                            $('#o_All').prop('checked', false);
                                                                                                            });
                                                                                          $(".o_moderate").change(function(){
                                                                                                                  if (!$(this).prop("checked")){
                                                                                                                  $("#o_mod").prop("checked",false);
                                                                                                                  }
                                                                                                                  });
                                                                                          });
                                                                                          
                                                                                          $(document).ready(function () {
                                                                                                            $("#o_low").click(function () {
                                                                                                                              $(".o_low2").prop('checked', $(this).prop('checked'));
                                                                                                                              $('#o_All').prop('checked', false);
                                                                                                                              });
                                                                                                            $(".o_low2").change(function(){
                                                                                                                                if (!$(this).prop("checked")){
                                                                                                                                $("#o_low").prop("checked",false);
                                                                                                                                }
                                                                                                                                });
                                                                                                            });
                                    </script>
                                
                                <!--
                                 DISEASE
                                 =======
                                 -->
                                
                                <script>
                                    $(document).ready(function () {
                                                      $("#d_All").click(function () {
                                                                        $(".d_any").prop('checked', $(this).prop('checked'));
                                                                        });
                                                      $(".d_any").change(function(){
                                                                         if (!$(this).prop("checked")){
                                                                         $("#d_All").prop("checked",false);
                                                                         }
                                                                         });
                                                      });
                                                      
                                                      $(document).ready(function () {
                                                                        $("#d_hig").click(function () {
                                                                                          $(".d_high").prop('checked', $(this).prop('checked'));
                                                                                          $('#d_All').prop('checked', false);
                                                                                          });
                                                                        $(".d_high").change(function(){
                                                                                            if (!$(this).prop("checked")){
                                                                                            $("#d_hig").prop("checked",false);
                                                                                            }
                                                                                            });
                                                                        });
                                                                        
                                                                        $(document).ready(function () {
                                                                                          $("#d_mod").click(function () {
                                                                                                            $(".d_moderate").prop('checked', $(this).prop('checked'));
                                                                                                            $('#d_All').prop('checked', false);
                                                                                                            });
                                                                                          $(".d_moderate").change(function(){
                                                                                                                  if (!$(this).prop("checked")){
                                                                                                                  $("#d_mod").prop("checked",false);
                                                                                                                  }
                                                                                                                  });
                                                                                          });
                                                                                          
                                                                                          $(document).ready(function () {
                                                                                                            $("#d_low").click(function () {
                                                                                                                              $(".d_low2").prop('checked', $(this).prop('checked'));
                                                                                                                              $('#d_All').prop('checked', false);
                                                                                                                              });
                                                                                                            $(".d_low2").change(function(){
                                                                                                                                if (!$(this).prop("checked")){
                                                                                                                                $("#d_low").prop("checked",false);
                                                                                                                                }
                                                                                                                                });
                                                                                                            });
                                    </script>
                                
                                <!--
                                 AMERICAN COLLEGE OF MEDICAL GENETICS (ACMG)
                                 ==========================================
                                 -->
                                
                                <script>
                                    $(document).ready(function () {
                                                      $("#a_All").click(function () {
                                                                        $(".a_any").prop('checked', $(this).prop('checked'));
                                                                        });
                                                      $(".a_any").change(function(){
                                                                         if (!$(this).prop("checked")){
                                                                         $("#a_All").prop("checked",false);
                                                                         }
                                                                         });
                                                      });
                                                      
                                                      $(document).ready(function () {
                                                                        $("#a_hig").click(function () {
                                                                                          $(".a_high").prop('checked', $(this).prop('checked'));
                                                                                          $('#a_All').prop('checked', false);
                                                                                          });
                                                                        $(".a_high").change(function(){
                                                                                            if (!$(this).prop("checked")){
                                                                                            $("#a_hig").prop("checked",false);
                                                                                            }
                                                                                            });
                                                                        });
                                                                        
                                                                        $(document).ready(function () {
                                                                                          $("#a_mod").click(function () {
                                                                                                            $(".a_moderate").prop('checked', $(this).prop('checked'));
                                                                                                            $('#a_All').prop('checked', false);
                                                                                                            });
                                                                                          $(".a_moderate").change(function(){
                                                                                                                  if (!$(this).prop("checked")){
                                                                                                                  $("#a_mod").prop("checked",false);
                                                                                                                  }
                                                                                                                  });
                                                                                          });
                                                                                          
                                                                                          $(document).ready(function () {
                                                                                                            $("#a_low").click(function () {
                                                                                                                              $(".a_low2").prop('checked', $(this).prop('checked'));
                                                                                                                              $('#a_All').prop('checked', false);
                                                                                                                              });
                                                                                                            $(".a_low2").change(function(){
                                                                                                                                if (!$(this).prop("checked")){
                                                                                                                                $("#a_low").prop("checked",false);
                                                                                                                                }
                                                                                                                                });
                                                                                                            });
                                    </script>
                                
                                <!--
                                 PHARMACOGENOMICS
                                 ================
                                 -->
                                
                                <script>
                                    $(document).ready(function () {
                                                      $("#p_All").click(function () {
                                                                        $(".p_any").prop('checked', $(this).prop('checked'));
                                                                        });
                                                      $(".p_any").change(function(){
                                                                         if (!$(this).prop("checked")){
                                                                         $("#p_All").prop("checked",false);
                                                                         }
                                                                         });
                                                      });
                                                      
                                                      $(document).ready(function () {
                                                                        $("#p_hig").click(function () {
                                                                                          $(".p_high").prop('checked', $(this).prop('checked'));
                                                                                          $('#p_All').prop('checked', false);
                                                                                          });
                                                                        $(".p_high").change(function(){
                                                                                            if (!$(this).prop("checked")){
                                                                                            $("#p_hig").prop("checked",false);
                                                                                            }
                                                                                            });
                                                                        });
                                                                        
                                                                        $(document).ready(function () {
                                                                                          $("#p_mod").click(function () {
                                                                                                            $(".p_moderate").prop('checked', $(this).prop('checked'));
                                                                                                            $('#p_All').prop('checked', false);
                                                                                                            });
                                                                                          $(".p_moderate").change(function(){
                                                                                                                  if (!$(this).prop("checked")){
                                                                                                                  $("#p_mod").prop("checked",false);
                                                                                                                  }
                                                                                                                  });
                                                                                          });
                                                                                          
                                                                                          $(document).ready(function () {
                                                                                                            $("#p_low").click(function () {
                                                                                                                              $(".p_low2").prop('checked', $(this).prop('checked'));
                                                                                                                              $('#p_All').prop('checked', false);
                                                                                                                              });
                                                                                                            $(".p_low2").change(function(){
                                                                                                                                if (!$(this).prop("checked")){
                                                                                                                                $("#p_low").prop("checked",false);
                                                                                                                                }
                                                                                                                                });
                                                                                                            });
                                    </script>
                                
                                <!--
                                 GENE
                                 ====
                                 -->
                                
                                <script>
                                    $(document).ready(function () {
                                                      $("#g_All").click(function () {
                                                                        $(".g_any").prop('checked', $(this).prop('checked'));
                                                                        });
                                                      $(".g_any").change(function(){
                                                                         if (!$(this).prop("checked")){
                                                                         $("#g_All").prop("checked",false);
                                                                         }
                                                                         });
                                                      });
                                                      
                                                      $(document).ready(function () {
                                                                        $("#g_hig").click(function () {
                                                                                          $(".g_high").prop('checked', $(this).prop('checked'));
                                                                                          $('#g_All').prop('checked', false);
                                                                                          });
                                                                        $(".g_high").change(function(){
                                                                                            if (!$(this).prop("checked")){
                                                                                            $("#g_hig").prop("checked",false);
                                                                                            }
                                                                                            });
                                                                        });
                                                                        
                                                                        $(document).ready(function () {
                                                                                          $("#g_mod").click(function () {
                                                                                                            $(".g_moderate").prop('checked', $(this).prop('checked'));
                                                                                                            $('#g_All').prop('checked', false);
                                                                                                            });
                                                                                          $(".g_moderate").change(function(){
                                                                                                                  if (!$(this).prop("checked")){
                                                                                                                  $("#g_mod").prop("checked",false);
                                                                                                                  }
                                                                                                                  });
                                                                                          });
                                                                                          
                                                                                          $(document).ready(function () {
                                                                                                            $("#g_low").click(function () {
                                                                                                                              $(".g_low2").prop('checked', $(this).prop('checked'));
                                                                                                                              $('#g_All').prop('checked', false);
                                                                                                                              });
                                                                                                            $(".g_low2").change(function(){
                                                                                                                                if (!$(this).prop("checked")){
                                                                                                                                $("#g_low").prop("checked",false);
                                                                                                                                }
                                                                                                                                });
                                                                                                            });
                                    </script>
                                
                                <!--
                                 DE NOVO (TRIO)
                                 ==============
                                 -->
                                
                                <script>
                                    $(document).ready(function () {
                                                      $("#t_All").click(function () {
                                                                        $(".t_any").prop('checked', $(this).prop('checked'));
                                                                        });
                                                      $(".t_any").change(function(){
                                                                         if (!$(this).prop("checked")){
                                                                         $("#t_All").prop("checked",false);
                                                                         }
                                                                         });
                                                      });
                                                      
                                                      $(document).ready(function () {
                                                                        $("#t_hig").click(function () {
                                                                                          $(".t_high").prop('checked', $(this).prop('checked'));
                                                                                          $('#t_All').prop('checked', false);
                                                                                          });
                                                                        $(".t_high").change(function(){
                                                                                            if (!$(this).prop("checked")){
                                                                                            $("#t_hig").prop("checked",false);
                                                                                            }
                                                                                            });
                                                                        });
                                                                        
                                                                        $(document).ready(function () {
                                                                                          $("#t_mod").click(function () {
                                                                                                            $(".t_moderate").prop('checked', $(this).prop('checked'));
                                                                                                            $('#t_All').prop('checked', false);
                                                                                                            });
                                                                                          $(".t_moderate").change(function(){
                                                                                                                  if (!$(this).prop("checked")){
                                                                                                                  $("#t_mod").prop("checked",false);
                                                                                                                  }
                                                                                                                  });
                                                                                          });
                                                                                          
                                                                                          $(document).ready(function () {
                                                                                                            $("#t_low").click(function () {
                                                                                                                              $(".t_low2").prop('checked', $(this).prop('checked'));
                                                                                                                              $('#t_All').prop('checked', false);
                                                                                                                              });
                                                                                                            $(".t_low2").change(function(){
                                                                                                                                if (!$(this).prop("checked")){
                                                                                                                                $("#t_low").prop("checked",false);
                                                                                                                                }
                                                                                                                                });
                                                                                                            });
                                    </script>
                                
                                <!--
                                 CANCER
                                 ======
                                 -->
                                
                                <script>
                                    $(document).ready(function () {
                                                      $("#can_All").click(function () {
                                                                          $(".can_any").prop('checked', $(this).prop('checked'));
                                                                          });
                                                      $(".can_any").change(function(){
                                                                           if (!$(this).prop("checked")){
                                                                           $("#can_All").prop("checked",false);
                                                                           }
                                                                           });
                                                      });
                                                      
                                                      $(document).ready(function () {
                                                                        $("#can_hig").click(function () {
                                                                                            $(".can_high").prop('checked', $(this).prop('checked'));
                                                                                            $('#can_All').prop('checked', false);
                                                                                            });
                                                                        $(".can_high").change(function(){
                                                                                              if (!$(this).prop("checked")){
                                                                                              $("#can_hig").prop("checked",false);
                                                                                              }
                                                                                              });
                                                                        });
                                                                        
                                                                        $(document).ready(function () {
                                                                                          $("#can_mod").click(function () {
                                                                                                              $(".can_moderate").prop('checked', $(this).prop('checked'));
                                                                                                              $('#can_All').prop('checked', false);
                                                                                                              });
                                                                                          $(".can_moderate").change(function(){
                                                                                                                    if (!$(this).prop("checked")){
                                                                                                                    $("#can_mod").prop("checked",false);
                                                                                                                    }
                                                                                                                    });
                                                                                          });
                                                                                          
                                                                                          $(document).ready(function () {
                                                                                                            $("#can_low").click(function () {
                                                                                                                                $(".can_low2").prop('checked', $(this).prop('checked'));
                                                                                                                                $('#can_All').prop('checked', false);
                                                                                                                                });
                                                                                                            $(".can_low2").change(function(){
                                                                                                                                  if (!$(this).prop("checked")){
                                                                                                                                  $("#can_low").prop("checked",false);
                                                                                                                                  }
                                                                                                                                  });
                                                                                                            });
                                    </script>
                                
                                <script>
                                    
                                    $(document).ready(function(){
                                                      $('[data-toggle="tooltip"]').tooltip({
                                                                                           animation: true,
                                                                                           container: "body",
                                                                                           delay: {show: 25, hide: 50}
                                                                                           });
                                                      });
                                                      
                                    </script>
                                
                                
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{url_for('index')}}">CGAR</a>
                </div>
                <div class="collapse navbar-collapse" id="base1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{url_for('upload_genome')}}">Upload sample<span class="sr-only">(current)</span></a></li>
                        <li><a href="{{url_for('genome_select')}}">Report</a></li>
                        <li><a href="https://cgar-doc.readthedocs.io/en/latest/" target="_blank">User guide</a></li>
                        <li><a href="{{url_for('version_info')}}">Version info</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {%if not session['username'] or session['username'] == 'guest'%}
                        <li><a href="{{url_for('login')}}">Sign in</a></li>
                        {%else%}
                        <li><a href="{{url_for('logout')}}">Sign out {{session['username']}}</a></li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </nav>
        <main>
        {% block content %}
        {% endblock %}
        <!--</div>-->
        </main>
    </body>
    <footer class="footer">
        <div class="container">
            <hr>
            <span class="text-muted">
                <p>&copy; 2017-2019 Boston Children's Hospital. Academic research use only. <a href="#disclaimer" data-toggle="modal" data-target="#disclaimer">Disclaimer.</a></p>
                <p>All Rights Reserved. NOTE: CGAR is best viewed from Google Chrome, Mozilla Firefox, or Apple Safari. Some of the features may not work properly in Microsoft Internet Explorer.</p>
            </span>
        </div>
    </footer>
    <div class="modal fade" id="disclaimer" tabindex="-1" role="dialog" aria-labelledby="disLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="disLabel">Disclaimer</h4>
                </div><!-- modal-header -->
                <div class="modal-body">
                     <p>The Clinical Genome & Ancestry Report (CGAR) was developed by the Children's Medical Center Corporation (CMCC), doing business as Boston Children's Hospital (BCH) and is to be used for academic research only.
                     The CGAR is not to be used in clinical practice.</p>
                     <p>CMCC AND ITS AFFILIATES, AND THEIR RESPECTIVE PERSONNEL, MAKE NO WARRANTY, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY EXPRESS OR IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR WARRANTY OF NON-INFRINGEMENT AS TO ANY MATTER RELATING TO USE OF THE CGAR, INCLUDING WITHOUT LIMITATION ANY WARRANTY WITH RESPECT TO TECHNICAL INFORMATION, OR ANY SOFTWARE,  INFORMATION OR DATA PROVIDED HEREUNDER. CMCC, its Affiliates, and their respective personnel, make no warranty, express or implied, that any use of the CGAR will not infringe any intellectual property or other property rights of CMCC, BCH, or any Third Party.</p>
                     <p>IN NO EVENT WILL CMCC, ITS AFFILIATES, OR THEIR RESPECTIVE TRUSTEES, OFFICERS, FACULTY MEMBERS, STUDENTS, STAFF, EMPLOYEES AND AGENTS, BE LIABLE TO ANY USER ANY OF THE CGAR, OR ANY THIRD PARTY, FOR ANY CONSEQUENTIAL, INCIDENTAL, SPECIAL OR INDIRECT DAMAGES (INCLUDING, BUT NOT LIMITED TO, FROM ANY DESTRUCTION TO PROPERTY OR FROM ANY LOSS OF USE, REVENUE, PROFIT, TIME OR GOOD WILL) BASED ON, ARISING OUT OF, OR RELATED TO THE USE OF THE CGAR.</p>
                </div><!-- mmodal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div><!-- modal-footer -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
            
</html>


