{% extends "base.html" %}
{% block content %}
{% from "SO_dictionary.html" import SO_dict %}
<div class="container-fluid">
  <div class="row" >
    <div class='col' style="padding: 0px 25px 0px 25px">
    <h3>Calculated variant consequences</h3>
    <table class='table table-bordered table-striped'>
      <thead>
        <tr>
          <th>Gene<br>Transcript Identifier</th>
          {%for i in transcript%}
            <th class='text-center'>{{ symb[loop.index -1] }}
            {% if exacpli is defined %}
            {% if exacpli[ loop.index - 1] <= 0.1 %}
            <span class='label label-success' data-toggle="tooltip" data-placement="top" title="The probability of being loss-of-function intolerant. Ranges 0 to 1. pLI &ge; 0.9: intolerant, pLI &le; 0.1: tolerant.">pLI score: {{exacpli[ loop.index - 1 ]}}</span>
            {% elif exacpli[ loop.index -1] >= 0.9 %}
            <span class='label label-danger' data-toggle="tooltip" data-placement="top" title="The probability of being loss-of-function intolerant. Ranges 0 to 1. pLI &ge; 0.9: intolerant, pLI &le; 0.1: tolerant.">pLI score: {{exacpli[ loop.index - 1 ]}}</span>
            {% else %}
            <span class='label label-default' data-toggle="tooltip" data-placement="top" title="The probability of being loss-of-function intolerant. Ranges 0 to 1. pLI &ge; 0.9: intolerant, pLI &le; 0.1: tolerant.">pLI score: {{exacpli[ loop.index - 1 ]}}</span>
            {% endif %}
            {% endif %}
            <a href="https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:{{ hgnc[loop.index-1]}}" target="_blank"><span class='glyphicon glyphicon-new-window'></span></a>
            <br>{{i}}</th>
          {%endfor%}
        </tr>
      </thead>
      <tbody>
        <tr> 
          <td>HGVSc</td>
          {%for i in hgvsc%}<td class='text-center'>{{i}}</td>{%endfor%}
        </tr>
        <tr> 
          <td>HGVSp</td>
          {%for i in hgvsp%}<td class='text-center'>{{i}}</td>{%endfor%}
        </tr>
        <tr> 
          <td>Consequence <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Calculated variant consequence by Ensembl Variant Effect Predictor (VEP)."></span></td>
          {%for i in consequence%}<td class='text-center'>{%if '&' in i%}{%set j = i.split('&')%}{%for l in j%}<span class="abbr" title="{{SO_dict[l]}}">{{l}}</span><br>{%endfor%}{%else%}<span class="abbr" title="{{SO_dict[i]}}">{{i}}</span>{%endif%}</td>{%endfor%}
        </tr>
        <tr> 
          <td>Condel <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Calculated score for missense variant based on SIFT and PolyPhen-2 scores from Ensembl API. Shows predictions with score. Scores range 0 (neutral) to 1 (deleterious)."></span></td>
          {%for i in condel%}<td class='text-center'>{{i}}</td>{%endfor%}
        </tr>
        <tr> 
          <td>SIFT <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Prediction of amino acid substitution effects on protein function based on sequence homology and physical properties of amino acids. Shows predictions with score. Scores range 0 to 1."></span></td>
          {%for i in sift%}<td class='text-center'>{{i}}</td>{%endfor%}
        </tr>
        <tr> 
          <td>CADD <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Deleteriousness score from CADD in PHRED-like scale. Ranges 1 to 99 (most deleterious)."></span></td>
          {%for i in cadd%}<td class='text-center'>{{i}}</td>{%endfor%}
        </tr>
        <tr> 
          <td>FATHMM <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Categorical prediction by FATHMM score. D (damaging) or T (tolerated)."></span></td>
          {%for i in fathmm%}<td class='text-center'>{{i}}</td>{%endfor%}
        </tr>
        <tr> 
          <td>MutationAssesor <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Categorical prediction from MutationAssessor. H (high impact), M (medium), L (low), or N (neutral)."></span></td>
          {%for i in mutassesor%}<td class='text-center'>{{i}}</td>{%endfor%}
        </tr>
        <tr> 
          <td>MutationTaster <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Categorical prediction from MutationTaster. A (disease-causing automatic), D (disease-causing), N (polymorphism), or P (polymorphism automatic)."></span></td>
          {%for i in muttaster%}<td class='text-center'>{{i}}</td>{%endfor%}
        </tr>
        <tr> 
          <td>PROVEAN <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placemenet="right" title="Categorical prediction from PROVEAN. N (neutral) or D (damaging)."></span></td>
          {%for i in provean%}<td class='text-center'>{{i}}</td>{%endfor%}
        </tr>
        <tr>
          <td>REVEL <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Pathogenicity score for missense variants by REVEL (Rare Exome Variant Ensemble Learner). Ranges 0 to 1 (pathogenic)."></span></td>
          {%for i in revel%}<td class='text-center'>{{i}}</td>{%endfor%}
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div class="row" >
    <div class='col-xs-6' style="padding: 0px 25px 0px 25px">
    <h3>Allele frequencies</h3>
    {%set AFs = AF.split('|') %}
    <table class='table table-bordered table-striped'>
      <thead>
        <tr>
          <th>Population</th>
          <th class='text-center'>gnomAD <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Allele frequencies observed in exomes from gnomAD release 2.0.1"></span></th>
          <th class='text-center'>1000GP <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Allele frequencies observed in 1000 Genomes Project phase 3"></span></th>
          <th class='text-center'>ESP6500 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Allele frequencies observed in 6503 samples from NHLBI Exome Sequencing Project"></span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Global</td>
          <td class='text-center'>{{AFs[8]}}</td>
          <td class='text-center'>{{AFs[0]}}</td>
          <td class='text-center'>N/A</td>
        </tr>
        <tr>
          <td>African</td>
          <td class='text-center'>{{AFs[9]}}</td>
          <td class='text-center'>{{AFs[1]}}</td>
          <td class='text-center'>{{AFs[6]}}</td>
        </tr>
        <tr>
          <td>European</td>
          <td class='text-center'><span class="abbr" title="non-Finnish European">{{AFs[14]}}</span></td>
          <td class='text-center'>{{AFs[2]}}</td>
          <td class='text-center'>{{AFs[7]}}</td>
        </tr>
        <tr>
          <td>American</td>
          <td class='text-center'>{{AFs[10]}}</td>
          <td class='text-center'>{{AFs[3]}}</td>
          <td class='text-center'>N/A</td>
        </tr>
        <tr>
          <td>East Asian</td>
          <td class='text-center'>{{AFs[12]}}</td>
          <td class='text-center'>{{AFs[4]}}</td>
          <td class='text-center'>N/A</td>
        </tr>
        <tr>
          <td>South Asian</td>
          <td class='text-center'>{{AFs[16]}}</td>
          <td class='text-center'>{{AFs[5]}}</td>
          <td class='text-center'>N/A</td>
        </tr>
        <tr>
          <td>Ashkenazi Jewish</td>
          <td class='text-center'>{{AFs[11]}}</td>
          <td class='text-center'>N/A</td>
          <td class='text-center'>N/A</td>
        </tr>
        <tr>
          <td>Finnish</td>
          <td class='text-center'>{{AFs[13]}}</td>
          <td class='text-center'>N/A</td>
          <td class='text-center'>N/A</td>
        </tr>
        <tr>
          <td>Other</td>
          <td class='text-center'>{{AFs[15]}}</td>
          <td class='text-center'>N/A</td>
          <td class='text-center'>N/A</td>
        </tr>
      </tbody>
    </table>
    <h3>Additional information for variants in splice sites</h3>
    <table class='table table-bordered table-striped'>
      <tbody>
        {%set splicing = splicing.split('|')%}
        <tr>
          <td style="width:70%">Additional calculated consequence for variants in splice sites</td>
          <td>{%if splicing[0] != ''%}<span class="abbr" title="{{SO_dict[ splicing[0] ]}}">{{splicing[0]}}</span>{%else%}-{%endif%}</td>
        </tr>
        <tr>
          <td style="width:70%">Prediction scores for splice-altering effects using AdaBoost <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Scores from ensemble models to predict splice-altering effects for variants in splicing consensus regions (-3 to +8 at the 5' splice site and -12 to +2 at the 3' splice site). Ranges 0 to 1 (most strongly predicted effect)."></span></td>
          <td><span class="abbr" title="Variants with scores greater than 0.6 can be considered as splice-altering.">{{splicing[1]}}</span></td>
        </tr>
        <tr>
          <td style="width:70%">Prediction scores for splice-altering effects using random forest <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Scores from ensemble models to predict splice-altering effects for variants in splicing consensus regions (-3 to +8 at the 5' splice site and -12 to +2 at the 3' splice site). Ranges 0 to 1 (most strongly predicted effect)."></span></td>
          <td><span class="abbr" title="Variants with scores greater than 0.6 can be considered as splice-altering.">{{splicing[2]}}</span></td>
        </tr>
      </tbody>
    </table>

    </div><!-- div col-xs-6 -->
    <div class='col-xs-6' style="padding: 0px 25px 0px 25px">
    <h3>Scores for sequence conservation at variant site</h3>
    <table class='table table-bordered table-striped'>
      <thead>
        <tr>
          <th style="width:50%">Prediction methods</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {%set conservation = conservation.split('|')%}
        <tr>
          <td>phastCon 100-way <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="phastCons sequence conservation score based on multiple alignments of 100 vertebrate genomes. Ranges 0 to 1 (most conserved)."></span></td>
          <td>{{conservation[0]}}</td>
        </tr>
        <tr>
          <td>phyloP 100-way <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="phyloP (phylogenetic p-values) sequence conservation score based on multiple alignments of 100 vertebrate genomes. Ranges -20.0 to 10.0 (most conserved)."></span></td>
          <td>{{conservation[1]}}</td>
        </tr>
        <tr>
          <td>GERP <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Evolutionary constraint score by Genomic Evolutionary Rate Profiling (GERP). Ranges -12.36 to 6.18 (most constrained)."></span></td>
          <td>{{conservation[2]}}</td>
        </tr>
      </tbody>
    </table>
    <h3>Protein families or domains overlapping with variant site</h3>
    <table class='table table-bordered table-striped'>
      <thead>
        <tr>
          <th>Source of identifers</th>
          <th>Identifiers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>UniProtKB/Swiss-Prot <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Protein identifier from UniProt Knowledgebase database."></span></td>
          <td>{% if swissprot == '-' %} {{swissprot}} {% else %}
          {% for i in swissprot.split('&') %}
           <a href="https://www.uniprot.org/uniprot/{{i}}" target="_blank">{{i}}</a>{% if not loop.last %},{% endif %}
          {% endfor %}{% endif %}
          </td>
        </tr>
        <tr>
          <td>UniprotKB/TrEMBL <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Protein identifier from TrEMBL database."></span></td>
          <td>{% if trembl == '-' %} {{trembl}} {% else %}
          {% for i in trembl.split('&') %}
           <a href="https://www.uniprot.org/uniprot/{{i}}" target="_blank">{{i}}</a>{% if not loop.last %},{% endif %}
          {% endfor %}{% endif %}
          </td>
        </tr>
        <tr>
          <td>UnipArc <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Protein identifier from UniProt Archive (UnipParc) database."></span></td>
          <td>{% if uniparc == '-' %} {{uniparc}} {% else %}
          {% for i in uniparc.split('&') %}
           <a href="https://www.uniprot.org/uniparc/{{i}}" target="_blank">{{i}}</a>{% if not loop.last %},{% endif %}
          {% endfor %}{% endif %}
          </td>
        </tr>
        <tr>
          <td>PANTHER <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Protein family identifier from Protein Analysis Through Evolutionary Relationships (PANTHER) database."></span></td>
          <td>
          {% if hmmpanther == '-' %} {{hmmpanther}} {% else %}
          {% for i in hmmpanther.split('&') %}
           <a href="http://www.pantherdb.org/panther/family.do?clsAccession={{i}}" target="_blank">{{i}}</a>{% if not loop.last %},{% endif %}
          {% endfor %} {% endif %}
          </td>
        </tr>
        <tr>
          <td>Gene3D <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Protein family identifier from Gene3D database."></span></td>
          <td>{% if gene3d == '-' %} {{gene3d}} {% else %}
          {% for i in gene3d.split('&') %}
           <a href="http://gene3d.biochem.ucl.ac.uk/search?sterm={{i}}&mode=family" target="_blank">{{i}}</a>{% if not loop.last %},{% endif %}
          {% endfor %}{% endif %}
          </td>
        </tr>
        <tr>
          <td>SUPERFAMILY <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Protein family identifier from SUPERFAMILY database."></span></td>
          <td>{% if superfamily == '-' %} {{superfamily}} {% else %}
          {% for i in superfamily.split('&') %}
           <a href="http://supfam.org/SUPERFAMILY/cgi-bin/scop.cgi?ipid={{i}}" target="_blank">{{i}}</a>{% if not loop.last %},{% endif %}
          {% endfor %}{% endif %}
          </td>
        </tr>
        <tr>
          <td>PROSITE <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Protein family identifier from PROSITE database."></span></td>
          <td>{% if prosite == '-' %} {{prosite}} {% else %}
          {% for i in prosite.split('&') %}
           <a href="https://prosite.expasy.org/doc/{{i}}" target="_blank">{{i}}</a>{% if not loop.last %},{% endif %}
          {% endfor %}{% endif %}
          </td>
        </tr>
        <tr>
          <td>Pfam <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Protein family identifier from Pfam database."></span></td>
          <td>
          {% if pfam == '-' %} {{pfam}} {% else %}
          {% for i in pfam.split('&') %}
           <a href="https://pfam.xfam.org/family/{{i}}" target="_blank">{{i}}</a>{% if not loop.last %},{% endif %}
          {% endfor %}{% endif %}
          </td>
        </tr>
      </tbody>
    </table>
    <h3>Publications</h3>
    {%if pubmed == ''%}
      N/A
    {%elif '&' not in pubmed %}
      <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{pubmed}}" target="_blank">{{pubmed}}</a>
    {%else%}
      {%set links = pubmed.split('&')%}
      {%for i in links%}   
      <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{i}}" target="_blank">{{i}}</a> 
      {%endfor%}
    {%endif%}
    </div><!-- div col-xs-6 -->
  </div><!-- div row -->
</div><!-- div container-fluid -->
{% endblock %}

