{% extends "base.html" %}
{% block content %}

<style>
    body {
        position: relative;
    }
    .affix {
        top: 20px;
        z-index: 9999 !important;
    }
    div.col-sm-9 div {
        /*height: 250px;
        font-size: 28px;*/
    }
    @media screen and (max-width: 810px) {
        #intro, #signin, #upload, #genreport, #ancestry, #option, #hgmd, #clinvar, #orpha, #pheno, #acmg, #pgx, #gene, #denovo, #cancer, #section5, #section6  {
	    margin-left: 150px;
        }
    }
</style>

<div class="container" data-spy="scroll" data-target="#myScrollspy">
    <div class="row">
        <nav class="col-sm-3" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="15">
                <li><a href="#intro">0. Introduction</a></li>
                <li><a href="#signin">1. Sign in</a></li>
                <li><a href="#upload">2. Upload</a></li>
                <li><a href="#genreport">3. Generate Report</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">4. Report<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#ancestry">4-1. Ancestry</a></li>
                        <li><a href="#option">4-2. Side menu and table columns</a></li>
                        <li><a href="#hgmd">4-3. HGMD</a></li>
                        <li><a href="#clinvar">4-4. ClinVar</a></li>
                        <li><a href="#orpha">4-5. OrphaNet</a></li>
                        <li><a href="#pheno">4-6. Phenotype associated genes</a></li>
                        <li><a href="#acmg">4-7. Secondary findings</a></li>
                        <li><a href="#pgx">4-8. Pharmacogenomic variants</a></li>
                        <li><a href="#gene">4-9. Focused gene set</a></li>
                        <li><a href="#denovo">4-10. <i>De novo</i> mutation candidates</a></li>
                        <li><a href="#cancer">4-11. Cancer variants and genes</a></li>
                    </ul>
                </li>
                <li><a href="#section5">5. Citations</a></li>
                <li><a href="#section6">6. Contact</a></li>
            </ul>
        </nav>
        <div class="col-sm-9">
            <div id="intro">
                <h1>0. Introduction</h1>
                <p>Clinical Genome & Ancestry Report (CGAR) is a web-based interface through which filtering and analysis results are dynamically reported for comprehensive annotations of uploaded variant call files in VCF and GVF. Annotated variant call files are stored in a MySQL database, and interactive filtering lists variants of interests with details and external links. We categorize variants with potential clinical implication into eight groups: 1&2) Reported disease-associated variants, 3) Variants in putative disease-associated genes, 4) Secondary findings recommended for reporting, 5) Pharmacogenomic variants, 6) Focused gene set, 7) <i>de novo</i> mutation candidates in trio, and 8) Cancer associated variants and genes. For each group, variants prioritized according to a default set of filtering criteria are shown to help users browse and discover phenotype-associated genetic variants from whole genome and whole exome sequencing data. This guide provides a detailed overview of the process of generating and viewing a report, from uploading variant call files to browsing annotated variants using multiple filtering criteria.</p>
            </div>
            <div id="signin">
                <h1>1. Sign in</h1>
                <p>Sign in or use the guest account to explore the features provided by CGAR. To create an account, the user must send us a request at <a href='mailto:gnome.pipeline@gmail.com'>gnome.pipeline@gmail.com</a>. Access will be granted upon review of the request. The guest and private accounts will have default access to preloaded genomes.
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/sign_in.png')}}?ver=1.2" class="img-thumbnail">
            </div>
            <div id="upload">
                <h1>2. Upload</h1>
                <p>To upload a variant call file, click <code>Upload genome</code> at the top menu. First, the user must select their <code>Genome build</code> (<kbd>hg19</kbd> vs. <kbd>hg18</kbd>). If uncertain, it is recommended to check the header lines in the file (the lines start with ‘#’) to determine the genome build. Then, the user is required to select the ancestry of their genome (if known). This helps us provide better results by filtering based on the genome’s ancestry. Finally, upload a file (VCF or GVF format) file which can be selected from the <code>Choose File</code> dialogue. Only files ending with the extension of .vcf or .gvf will be accepted. For Complete Genomics’ variant call files (.cgi format), a script is provided to convert the CGI files into GVF files.  After the user clicks on the <code>Upload genome</code> button, the variant call file will be placed on a queue for annotation.  Annotation time can vary, but once it is done the user will receive an email from <a href='mailto:gnome.pipeline@gmail.com'>gnome.pipeline@gmail.com</a>. After the users have uploaded a file they will be able to see the the list of annotated genomes with information about <code>Genome build</code>, <code>Ancestry</code>, and time of annotation in the table below.</p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/upload.png') }}?ver=1.2" class="img-thumbnail" style="width:90%; max-width:90%">
            </div>
            <div id="genreport">
                <h1>3. Generate Report</h1>
                <p>Once the annotation is completed, CGAR is ready to list variants of interest. Click <code>Report</code> from the top menu, and a menu bar with several options will appear. The user can choose from either their uploaded genome(s) or from sample genomes.  Sample genomes include <a href="https://www.coriell.org/0/Sections/Collections/NIGMS/CEPHFamiliesDetail.aspx?PgId=441&fam=1463&" target='_blank'>CEPH/Utah pedigree 1463</a> (trio1; NA12878, daughter; NA12891, paternal; NA12982, maternal) and two other trios from <a href="http://www.genomeinabottle.org" target='_blank'>Genome in a Bottle Consortium</a> - Han Chinese trio (trio2; GM24631, son; GM24694, paternal; GM24695, maternal), and Ashkenazim trio (trio3; NA24385, son; NA24149, paternal; NA24143, maternal). The preloaded genomes also include two genomes associated to specific phenotypes, Miller syndrome and Schinzel-Giedion syndrome.  This two genomes can used to test our disease associated categories.  Then, we provide a genome sample from a uveal melanoma tissue and its control, which can be used on the Cancer category. The next two options include adding two more genomes representing the paternal and maternal genomes (if available) for the proband genome.  These extra two genomes will be used to create a table with <code>De novo candidates</code>. Additionally, reported genes associated with a phenotype (phenotypes must be separated by space) can be retrieved from the FindZebra API to show a focused report for the genes related to phenotype in the <code>Phenotype associated</code> tab.  Then, if the user has genes of interest they would like to analyze, the gene list can be entered into the <code>User genes</code> textbox (gene symbols must be separated by space or comma) to generate a <code>Focused report</code> tab. For convenience, a link is provided to quickly add a set of popular cancer-associated genes from <a href="http://cancer.sanger.ac.uk/census" target='_blank'>Cancer Gene Census</a>. There is also an option available to select a second genome as germline sample to narrow down somatic mutations (<code>Cancer</code> tab).  Finally, an option is provided to generate reports based on ethnicity-specific allele frequencies. It can be chosen from 1) maximum allele frequencies over all populations (<kbd>Maximum across population</kbd>, default), 2) allele frequencies based on global ancestry predicted from the genome (<kbd>Ethnicity specific: Genotype predicted</kbd>), and 3) allele frequencies based on self-reported ancestry (in <code>Upload genome</code> page) (<kbd>Ethnicity specific: Self-reported</kbd>). All of the details for specifying these options for paternal and maternal genome, user genes, phenotype, and germline genome are explained below. Finally, click the <code>Generate report</code> button on the bottom.</p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/report_first.png')}}?ver=1.2" class="img-thumbnail">
            </div>
            <div id="ancestry">
                <h1>4. Report</h1>
                <p>The generated report first shows the name of the chosen genome with a link below to toggle a radar graph for predicted ancestral proportions. Next, the summary tables of variants that have met the default filtering criteria for each category are presented in table. The eight categories are divided among tabs and include: 1&2) Reported disease-associated variants (<code>HGMD</code>*<small>For the users with subscription to HGMD professional</small> and <code>ClinVar</code> tab), 3) Variants in putative disease-associated genes (<code>Phenotype associated</code> tab), 4) Secondary findings recommended for reporting according to ACMG statements (<a href="https://www.nature.com/articles/gim2016190" target='_blank'>Kalia <i>et al</i>., 2017</a>) (<code>ACMG59</code> tab), 5) Pharmacogenomic variants (<code>Pharmacogenomics</code> tab), 6) Focused gene set (<code>Focused report</code> tab), 7) <i>De novo</i> mutation candidates in trio (<code>De novo candidates</code> tab), and 8) cancer associatted variants and genes (<code>Cancer</code>).</p>
                <p>For each report section, the default filtering criteria are explained at the beginning. Any of the filtering criteria can be easily changed in the left panel. After making any filtering changes, click the <code>Generate report</code> button at the bottom to refresh the report.</p>
                <h1>4-1. Ancestry</h1>
                <p>The global ancestry for the genome is predicted based on 64 ancestry-informative markers (AIMs) from the selected genome and samples in the 1000 Genomes Project. To support both exomes and genomes, we selected AIMs on coding exons from published sets including (<a href="https://www.ncbi.nlm.nih.gov/pubmed/26977931" target='_blank'>Soundararajan <i>et al</i>., 2016</a>) and (<a href="https://www.ncbi.nlm.nih.gov/pubmed/24508742" target='_blank'>Kidd <i>et al</i>., 2014</a>). For each population in the 1000 Genomes Project, the centroids are calculated and compared to the selected genome. Each axis in the radar graph represents the similarity between centroids and the selected genome (and maternal/paternal genomes, if specified).</p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/ancestry.png')}}?ver=1.2" class="img-thumbnail">
            </div>
            <div id="option">
                <h1>4-2. Side menu and table columns</h1>
		<p>The side menu in the left provides controles to show and configure variant selection for the current tab. Its contents change dynamically across tabs except for those to set zygosity of variants, maximum variant allele frequency and calculated variant consequency. For the convenience of users, CGAR provides default settings for each tab (shown at the top of following subsections). <code>Reset filters</code> reverts all controls to their default values.</p>
		<ul>
			<li><code>Zygosity</code>: only variants with chosen zygosity get selected. <kbd>Any</kbd> (selects variants regardless of zygosity), <kbd>Hom</kbd> (selects homozygous variants only), and <kbd>Het</kbd> (selects heterozygous variants only). Default is set to <kbd>Any</kbd>.</li>
			<li><code>Ancestry</code> and <code>Allele frequency</code>: sets maximum value for variant allele frequency within the chosen ancestral group. Default values vary by tabs.</li>
			<ul>
				<li>For ancestry, any of the five groups, <kbd>African</kbd>, <kbd>American</kbd>, <kbd>East Asian</kbd>, <kbd>European</kbd>, or <kbd>South Asian</kbd>, can be specified to use allele frequency within specific ancestral group. If <kbd>All</kbd> is chosen, the maximum allele frequency from any ancestral group is considered for variant selection.</li>
				<li>For maximum allele frequency, five levels are provided: <kbd>&le;0.5%</kbd>, <kbd>&le;1%</kbd>, <kbd>&le;3%</kbd>, <kbd>&le;5%</kbd>, and <kbd>All</kbd> (no restriction on allele frequency).</li>
			</ul>
			<li><code>Calculated variant consequences</code>: specifies conditions to select variants by their calculated impacts. CGAR uses the set of consequence terms defined by the <a href="http://www.sequenceontology.org" target='_blank'>Sequence Ontology</a> (SO). The terms can be selected (multiple selection is allowed) either individually or in group based on their severity as estimated by Ensembl (<a href="https://useast.ensembl.org/info/genome/variation/prediction/predicted_data.html" target="_blank">link</a>). Default values vary by tabs.</li>
			<li><code>Allele frequency based on</code>: provides additional means to specify ancestral groups for allele frequency. <kbd>Max</kbd> (equvalant to choose <kbd>All</kbd> as ancestry), <kbd>Predicted by genotype</kbd> (uses ancestral group predicted by CGAR), and <kbd>Self-identified</kbd> (uses ancestral group specified while uploading VCF, if possible). Default is set to <kbd>Max</kbd>.</li>
		</ul>
                <p>The main result on the right side consists of <a href="#" data-toggle="tooltip" title='1st and 3rd tabs require Human Gene Mutation Database Professional license and service contract with OrphaData'>nine*</a> tabs for distinct categories of variant selection. Columns in the table vary by tabs, but the following columns are common for all tabs:<br>
                <ul>
                    <li><code>Gene symbol</code>: Official symbol for the gene by <a href="http://www.genenames.org" target='_blank'>HUGO Gene Nomenclature Committee</a> (HGNC).</li>
		    <li><code>HGVS nomenclature</code>: Description of sequence variant as recommended by the <a href="http://www.hgvs.org" target='_blank'>Human Genome Variation Society</a> (HGVS). (<a href="http://varnomen.hgvs.org" target="_blank">link</a> to the latest recommendations)</li>
		    <li><code>Zygosity</code>: Zygosity of the variant.</li>
                    <li><code>Variant impact</code>: The SO term for calculated consequence of the variant.</li>
                    <li><code>Max allele frequency</code>: The variant allele frequency of the variant allele from <a href="http://gnomad.broadinstitute.org" target='_blank'>Genome Aggregation Database</a> (gnomAD), release 2.0.2. If this value is <kbd>N/A</kbd>, the variant has never been reported so far. <b><i>However, we don’t report allele frequencies for variants that are flagged as low-quality in gnomAD. Thus, such variants can also have the value, <kbd>N/A</kbd>.</i></b> The value in this column is the combined allele frequency from both exomes (if available) and genomes in gnomAD and always shows the maximum frequency from the biggest 5 population groups (AFR: African, EAS: East Asian, SAS: South Asian, AMR: Latino, EUR: non-Finnish European (NFE in gnomAD)). The ancestries for the population where the variant is found most frequently are shown in parenthesis. When an specific ancestry is selected as the filter CGAR will only display variant's allele frequency for that ancestry.  The allele frequencies for each population are listed in the additional rows (click-opened by the green plus sign).</li>
                    <li><b>Coverage metric</b>: The percentage of gnomAD exome samples with at least 20x read depth on the variant’s position. The coverage values are highlighed by 4 different colors: green (99% or more exomes with 20x), blue (90% or more), brown (50% or more), and red (less than 50%).</li>
                </ul>
                </p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/filters.png') }}?ver=1.2" class="thumbnail" style="width:60%; max-width=60%">
                <p>The basic information mentioned above is reported for each genomic variant in its own row. Additional information for the variant, which is also common for all eight results tabs, may be displayed by clicking the green plus sign to the left of <code>Gene symbol</code> in the row:<br>
                <ul>
                    <li><b>Transcript</b>: Transcript name reported from RefSeq.</li>
                    <li><b>Zygosity</b>: Indicates whether the variant was found homozygous or heterozygous in the selected genome.</li>
                    <li><b>Locus</b>: The genomic location of the variant as <code>[chromosome]:[start position]-[end position] [reference allele]&gt;[variant allele]</code>, along with links to variant’s entry in the gnomAD and in <a href="https://beacon-network.org" target='_blank'>GA4GH Beacon Network</a>.</li>
                    <li><b>GERP++</b>: Score for the conservedness for the variant's location by Genomic Evolutionary Rate Profiling (GERP). The scoring system provides a number from a range of 6.17 to -12.3 (6.17 being the most conserved). A deleterious variant in highly conserved area could be pathogenic.</li>
                    <li><b>GWAS Publication</b>: The citation of original published data for the variant (if available).</li>
<!--                    <li><b>Pathogenicity Prediction</b>: For missense variants, pathognicity score from <a href="http://genetics.bwh.harvard.edu/pph2/" target='_blank'>Polyphen-2</a> and <a href="http://sift.jcvi.org/" target='_blank'>SIFT</a>, tools that predict the effect of the variant on protein function based on sequence homology.</li>-->
                    <li><b>Allele Frequency in gnomAD (Genomes + Exomes)</b>: The variant allele frequency for 5 population groups from gnomAD database (AFR: African, EAS: East Asian, SAS: South Asian, AMR: Latino, EUR: non-Finnish European (NFE in gnomAD). For allele frequencies in Europeans, the gnomAD allele frequencies for non-Finnish Europeans are presented.</li>
                </ul>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/var_detail.png') }}?ver=1.2" class="thumbnail">
                </p>
            </div>
            <div id="hgmd">
                <h1>4-3. HGMD: reported disease-associated variants</h1>
		<h4 style="color:red">* Only for users with the Human Gene Mutation Database Professional license</h4>
                <h5><code>HGMD</code> tab (default filtering criteria: <code>Zygosity</code>: <kbd>Any</kbd>, <code>Class variant</code>: <kbd>DM (Disease-causing mutation)</kbd>, <code>Ancestry</code>: <kbd>Any</kbd>, <code>Allele frequency</code>: <kbd>Any</kbd>, and <code>Variant impact</code>: <kbd>Any</kbd>)</h5>
                <p><a href="http://www.hgmd.cf.ac.uk/" target='_blank'>The Human Gene Mutation Database (HGMD®)</a>* contains a numerous collection of germline mutations which are disease-associated. We set up our default filters to display disease-causing mutations (DM). Each genomic variant contains a specific <code>HGMD Phenotype</code> with its assigned <code>HGMD class variant</code>.</p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/report_hgmd.png') }}?ver=1.2" class="thumbnail" style="width:90%; max-width:90%">
            </div>
            <div id="clinvar">
                <h1>4-4. ClinVar: reported disease-associated variants</h1>
                <h5><code>ClinVar</code> tab (default filtering criteria: <code>Zygosity</code>: <kbd>Any</kbd>, <code>Pathogenicity</code>: <kbd>Pathogenic</kbd> and <kbd>Likely Pathogenic</kbd>, <code>Ancestry</code>: <kbd>Any</kbd>, <code>Allele frequency</code>: <kbd>Any</kbd>, and <code>Variant impact</code>: <kbd>Any</kbd>)</h5>
                <p>This tab includes disease-associated variants from <a href="https://www.ncbi.nlm.nih.gov/clinvar/" target='_blank'>ClinVar</a>, a public database that reports relationships between human genomic variants and phenotypes. Our default parameters are designed to show only pathogenic or likely <a href='https://carleshf.netlify.com/img/portrait_chf.jpg' target='_blank'>pathogenic</a> variants. Each phenotype associated with a genomic variant (<code>ClinVar Phenotype</code> column) is reported along with summary information from several databases under the <code>Extra phenotype links</code> section. The interpretation of a given genomic variant as benign or pathogenic from ClinVar is reported under the <code>Review status</code> section, which also includes a link to the ClinVar report page on NCBI with all submissions. If there exists conflicting evidence for the clinical significance of a given variant then that is reported in this section as well.</p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/report_clinvar.png') }}?ver=1.2" class="thumbnail" style="width:90%; max-width:90%">
            </div>
            <div id="orpha">
                <h1>4-5. OrphaNet: phenotype-associated genes</h1>
                <h4 style="color:red">* Only for users with access to OrphaNet's on-request data (requires data transfer agreement or service contract directly with OrphaData)</h4>
                <h5><code>Orphanet</code> tab (default filtering criteria: <code>Zygosity</code>: <kbd>Any</kbd>, <code>Ancestry</code>: <kbd>Any</kbd>, <code>Allele frequency</code>: <kbd>Any</kbd>, and <code>Variant impact</code>: <kbd>Any</kbd>)</h5>
                <p>This category reports variants on genes associated to rare disease phenotypes collected by <a href="https://www.orpha.net" target='_blank'>OrphaNet</a> and <a href="http://www.orphadata.org" target='_blank'>OrphaData</a>. For each phenotype-associated genes, we provide detailed information about phenotypes to help identifying relevant variants: age of onset/death (<code>Age of onset</code>, <code>Age of death</code>), mode of inheritance (<code>Inheritance</code>), prevalence of the phenotype (<code>Prevalence &amp; location</code>).</p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/report_orpha.png') }}?ver=1.2" class="thumbnail" style="width:90%; max-width:90%">
                <p>Furthermore, the <code>Associated HPO disorder</code> button provides a list of standardized terms for human disease abnomalities from <a href="https://hpo.jax.org" target='_blank'>The Human Phenotype Ontology (HPO)</a> to identify genes related to the presenting symptoms.</p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/report_orpha_hpo.png') }}?ver=1.2" class="thumbnail" style="width:60%; max-width:60%">
            </div>
            <div id="pheno">
                <h1>4-6. Putative phenotype-associated genes</h1>
                <h5><code>Phenotype associated</code> tab (default filtering criteria: <code>Zygosity</code>: <kbd>Any</kbd>, <code>Ancestry</code>: <kbd>Any</kbd>, <code>Allele frequency</code>: <kbd>&le;0.5%</kbd>, and <code>Variant impact</code>: <kbd>High impact</kbd>)</h5>
                <p>This category reports variants on genes related to phenotypes provided by the users. We use <a href="http://www.findzebra.com/" target='_blank'>FindZebra</a> a search engine to retrieve phenotype-associated genes. FindZebra integrates evidences and reports from multiple databases including Online Mendelian Inheritance in Man (OMIM), Orphanet, and web resources including Wikipedia (<a href="https://arxiv.org/abs/1303.3229" target='_blank'>Dragusin <i>et al</i>. 2013</a>), and enables complex phenotype-based search to retrieve genes. Depending on phenotype, the number of reported genes varies significantly. We use the top <var>25%</var> of all reported genes from FindZebra to list rare and high impact variants in these genes. The percentage values can be selected from the pull-down menu.</p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/report_pheno.png') }}?ver=1.2" class="thumbnail" style="width:90%; max-width:90%">
            </div>
            <div id="acmg">
                <h1>4-7. Secondary findings</h1>
                <h5><code>ACMG59</code> tab (default filtering criteria: <code>Zygosity</code>: <kbd>Any</kbd>, <code>Ancestry</code>: <kbd>Any</kbd>, <code>Allele frequency</code>: <kbd>&le;0.5%</kbd>, and <code>Variant impact</code>: <kbd>High impact</kbd>)</h5>
                <p>Variants in genes that may not have a direct association with presenting signs and symptoms may be reported as secondary findings in this table. The American College of Medical Genetics (ACMG) published a minimum list of 56 genes to be reported as incidental or secondary findings in 2013 and a revision was published in 2017 with four addition genes and exclusion of one gene from the original list (<a href="https://www.nature.com/articles/gim2016190" target='_blank'>Kalia <i>et al</i>. 2017</a>). For these 59 genes, rare and high impact variants are listed in the <code>ACMG59</code> table. For each variant, the phenotypes related to the gene (<code>ACMG phenotype</code> column) are shown along with its MIM numbers and links (<code>MIM ID</code> column).</p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/report_acmg.png')}}?ver=1.2" class="thumbnail" style="width:90%; max-width:90%">
            </div>
            <div id="pgx">
                <h1>4-8. Pharmacogenomic variants</h1>
                <h5><code>Pharmacogenomics</code> tab (default filtering criteria for variants in VIP and PGRN genes: <code>Zygosity</code>: <kbd>Any</kbd>, <code>Ancestry</code>: <kbd>Any</kbd>, <code>Allele frequency</code>: <kbd>Any</kbd>, and <code>Variant impact</code>: <kbd>Any</kbd>)</h5>
                <p>* All CPIC variants are shown
                <br>Specific alleles in the genes associated with drug metabolism and pharmacodynamics are immediately actionable set of genetic variants in some clinical settings. We collected reported pharmacogenetic variants in 63 genes from the PharmGKB Very Important Pharmacogenes (VIPs) (<a href="https://www.pharmgkb.org/view/vips.jsp" target='_blank'>https://www.pharmgkb.org/view/vips.jsp</a>, accessed on Oct.27 2016) to list in this table. Variants from the Clinical Pharmacogenetics Implementation Consortium (CPIC) and Pharmacogenomics Research Network (PGRN) were also listed. The <code>CPIC</code>, <code>VIP</code>, and <code>PGRN</code> columns specify whether each source contains the the pharmacogenetic variants in their respective databases. These sources are listed in decreasing priority because CPIC includes variant-specific listing, while the other two only provide information at the gene level. The <code>Pharmacogenomic information</code> column shows short summary of the pharmacogenomic information for the variant. For variants in CPIC, the names of affected drugs and links to dosing guidelines in PharmGKB are provided. If applicable, links to VIP or PGRN genes are also included.</p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/report_pgx.png')}}?ver=1.2" class="thumbnail" style="width:90%; max-width:90%">
            </div>
            <div id="gene">
                <h1>4-9. Focused gene set</h1>
                <h5><code>Focused report</code> tab (default filtering criteria: <code>Zygosity</code>: <kbd>Any</kbd>, <code>Ancestry</code>: <kbd>Any</kbd>, <code>Allele frequency</code>: <kbd>&le;0.5%</kbd>, and <code>Variant impact</code>: <kbd>High impact</kbd>)</h5>
                <p>If a user has the list of candidate genes to make focused reports on, simply copying and pasting the gene symbols (separated by either space or comma) to the <code>User genes</code> field will allow the report of variants in those genes. By default, rare & high impact variants on the selected genes are displayed.</p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/report_usergene.png')}}?ver=1.2" class="thumbnail" style="width:90%; max-width:90%">
            </div>
            <div id="denovo">
                <h1>4-10. <i>De novo</i> mutation candidates</h1>
                <h5><code>De novo candidates</code> tab (default filtering criteria: <code>Zygosity</code>: <kbd>Het</kbd>, <code>Ancestry</code>: <kbd>Any</kbd>, <code>Allele frequency</code>: <kbd>&le;0.5%</kbd>, and <code>Variant impact</code>: <kbd>High impact</kbd>)</h5>
                <p>If variant call files from both parents are provided for an index case, heterozygous variants in proband where both parents have homozygous reference concordant alleles are displayed. If a variant is found in <a href='http://denovo-db.gs.washington.edu/denovo-db/' target='_blank'>denovo-db</a> (a database for germline <i>de novo</i> mutations identified in the human genome), the <code>phenotype</code> of the study where the mutation was found will show up.</p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/report_trio.png')}}?ver=1.2" class="thumbnail" style="width:90%; max-width:90%">
            </div>
            <div id="cancer">
                <h1>4-11. Cancer variants</h1>
                <h5><code>Cancers</code> tab (default filtering criteria for variants in CENSUS gene: <code>Zygosity</code>: <kbd>Any</kbd>, <code>Ancestry</code>: <kbd>Any</kbd>, <code>Allele frequency</code>: <kbd>&le;0.5%</kbd>, and <code>Variant impact</code>: <kbd>High impact</kbd>)</h5>
		<p>* All COSMIC variants are shown
                <br> Variants that are found on the <a href='http://cancer.sanger.ac.uk/cosmic' target='_blank'>COSMIC</a> database will be shown as well as the variants in the genes provided by <a href='http://cancer.sanger.ac.uk/census' target='_blank'>Cancer Gene Census</a>.  We used the genes in tier 1 from Cancer Gene Census as they have evidence of cancer-related activity, in comparison to tier 2 where there isn’t enough evidence to confirm the genes as cancer-related.  Variants contains either <code>Somatic tumor type</code>, <code>Germline tumor type</code> or both.  <code>Extra links</code> are provided for the user to check more information about the variant with links to COSMIC, CENSUS, and Hallmark of cancer genes.  If a germline control sample is provided we are able to remove variants found in both genomes. </p>
                <img src="{{ url_for('static', _external=True, _scheme='https', filename='img/report_cancer.png')}}?ver=1.2" class="thumbnail" style="width:90%; max-width:90%">
            </div>
            <div id="section5">
                <h1>5. Citations</h1>
                <ul>
                    <li>Dragusin R, Petcu P, Lioma C, Larsen B, Jørgensen, HL, <i>et al</i>. "FindZebra: A search engine for rare diseases." <i>ArXiv e-prints</i> (2013): 1303.3229 [cs.IR]. <a href="https://arxiv.org/abs/1303.3229" target='_blank'>https://arxiv.org/abs/1303.3229</a></li>
                    <li>Kalia SS, Adelman K, Bale SJ, Chung WK, Eng C, <i>et al</i>. "Recommendations for reporting of secondary findings in clinical exome and genome sequencing, 2016 update (ACMG SF v2.0): a policy statement of the American College of Medical Genetics and Genomics". <i>Genetics in Medicine</i> <b>19</b> (2017): 249-255. <a href="https://www.nature.com/articles/gim2016190" target='_blank'>https://www.nature.com/articles/gim2016190</a></li>
                    <li>Kidd KK, Speed WC, Pakstis AJ, Furtado MR, Fang R, <i>et al</i>. "Progress towards an efficient panel of SNPs for ancestry inference." <i>Forensic Science International: Genetics</i> <b>10</b> (2014): 23-32. <a href="https://www.ncbi.nlm.nih.gov/pubmed/24508742" target='_blank'>https://www.ncbi.nlm.nih.gov/pubmed/24508742</a></li>
                    <li>Soundararajan U, Yun L, Shi M, Kidd KK. "Minimal SNP overlap among multiple panels of ancestry informative markers argues for more international collaboration." <i>Forensic Science International: Genetics</i> <b>23</b> (2016): 25-32. <a href="https://www.ncbi.nlm.nih.gov/pubmed/26977931" target='_blank'>https://www.ncbi.nlm.nih.gov/pubmed/26977931</a></li>
                </ul>
            </div>
            <div id="section6">
                <h1>6. Contact</h1>
                <p>General inquiries may be addressed to <a href="mailto:SekWon.Kong@childrens.harvard.edu">Sek-Won Kong</a>.</p>
                <p>Specific questions regarding the use of our website and local installation, please send an email to <a href="mailto:gnome.pipeline@gmail.com">gNOME Staff</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
