{% extends "base.html" %}
{% block content %}

<main role="main" class="container">
    <h1>Welcome to CGAR!</h1>
    <p class="lead">Clinical Genome & Ancestry Report (CGAR) enables users to <b>identify</b> and <b>prioritize</b> phenotype-associated variants from genome sequencing with a user-friendly and interactive online platform.</p>
    <img style="width: 100%;" alt = "" src="{{ url_for('static', filename='img/scatter_pie.snprelate.5pop85.SGDP.png') }}">
    <p><i>(Caption) Global ancestry predictions from CGAR with different populations in the world.</i></p>
    <p class="lead">We developed the platform for users without extensive knowledge on genomic sequence variant annotation. <a class="btn btn-success" href="{{url_for('genome_select')}}">Get started</a></p>
</main>

{% endblock %}
