{% extends "base.html" %}
{% block content %}
<main role="main" class="container">

    <style>
        .wrapper {	
            margin-top: 80px;
            margin-bottom: 80px;
	}
	.form-signin {
            max-width: 380px;
            padding: 15px 35px 45px;
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,0.1);  
            .form-signin-heading,
            .checkbox {
                margin-bottom: 30px;
	    }
        }
												  	}
    </style>

    <div class="wrapper">
        <form class="form-signin" method="POST" action="{{url_for('check_user')}}">       
            <h2 class="form-signin-heading">Please login</h2>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" required="" autofocus="" />
            <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password" required=""/>      
	    <br />
	    {% if pw == 'wrong'%}
	        <div style='padding:10px' class="alert alert-danger" role="alert">
		    Wrong username or password.
		</div>
		<br />
	    {%endif%}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
	</form>
   </div>


<label style='padding: 0px 0px 0px 25px;'>Any one from academic or non-profit organizations are welcomed to create an account. Please contact <a href='mailto:gnome.pipeline@gmail.com?Subject=Request Access to CGAR' target="_top">CGAR Staff</a>.</label> 
</main>

{% endblock %}
