{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6"style="padding: 0px 25px 0px 25px">
      <div class="sidebar-nav-fixed well" style='padding:0px 20px 10px 20px'>
        <ul class="nav" >
          
          <form method="GET" action="{{url_for('generate_report')}}"> 
            <div class="form-group">
              <label for="select_genome"><h3>Select sample:</h3></label>

              <select class="form-dropdown" style="width:100%;font-size:17px;"name="select_genome" id="select_genome" >
                {% for genome in genomes %}
                <h4><option value={{genome[1]}}>{{genome[0]}}</option></h4>
                {% endfor %}
              </select>
            </div>
            <p>
            </p>
            <div class="form-group">
	    <div class='panel panel-default'>
	    <div class='panel-heading' style="background-color:#154771;color:white;padding: 5px 25px 5px 25px"><b>Parental samples for <i>de novo</i> candidates</b> <small>(Optional, e.g.
	    <a style="color:white" href='#' id ='trio1' name='trio1' >Trio1 caucasian</a>, 
	    <a style="color:white" href='#' id ='trio2' name='trio2' >Trio2 Han Chinese</a>,  
	    <a style="color:white" href='#' id ='trio3' name='trio3' >Trio3 Ashkenazim</a>)</small>
	    </div> 


	    <div class='panel-body' style="padding: 5px 25px 5px 25px">
              <p>
                Paternal sample:
                <br>
		<select class="form-drop" name='father' id= 'father' style="width:100%">
                  <option value="no_father">Select paternal sample</option>
                  {% for genome in genomes %}
                    <option value={{genome[1]}}>{{genome[0]}}</option>
                {% endfor %}
                </select>
              </p>
              <p>
                Maternal sample:
                <br>
                <select class="form-drop" name='mother' id='mother' style="width:100%">
                  <option value="no_mother">Select maternal sample</option>
                  {% for genome in genomes %}
                    <option value={{genome[1]}}>{{genome[0]}}</option>
                  {% endfor %}
                </select>
              </p>
	      </div></div>
              <p>
            <div class='panel panel-default'>
            <div class='panel-heading' style="background-color:#154771;color:white;padding: 5px 25px 5px 25px"><b>Phenotype(s) required for Phenotype associated tab </b><small>(Optional, powered by <a style="color:white" href="http://www.findzebra.com" target="_blank">FindZebra</a>)</small></div>        
            <div class='panel-body'style="padding: 10px 25px 5px 25px">
              <textarea name="pheno1" id="pheno1" placeholder='Add phenotype(s) separated by space...'></textarea>
              Select top
              <select class="form-drop" name='perc1' id= 'perc1' style='width:75px;'>
                <option value="1">1</option>
                <option value="5" selected>5</option>            
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              % genes.
	    </div></div>

            <div class='panel panel-default'>
            <div class='panel-heading' style="background-color:#154771;color:white;padding: 5px 25px 5px 25px"><b>Gene(s) required for Focused report </b><small>(Optional, E.g. <a style="color:white" href='#' id='load_genes' name='load_genes'>here</a> to load <a style="color:white" href='http://cancer.sanger.ac.uk/cosmic/census?tier=1' target='_blank'>CENSUS genes</a>)</small></div>
            <div class='panel-body' style="padding: 10px 25px 5px 25px">

            <textarea name="genes1" id="genes1" placeholder='Add gene(s) separated by space or comma...'=></textarea>
	    </div></div>

            <div class='panel panel-default'>
            <div class='panel-heading' style="background-color:#154771;color:white;padding: 5px 25px 5px 25px"><b>Germline sample for Cancer tab </b><small>(Optional, e.g. 
            <a style="color:white" href='#' id ='cancer1' name='cancer1' >Uveal melanoma</a></small>)</div>
            <div class='panel-body' style="padding: 10px 25px 10px 25px">
            <select class="form-drop" name='control' id='control' style="width:100%">
              <option value="no_control">Select control sample</option>
              {% for genome in genomes %}
              <option value={{genome[1]}}>{{genome[0]}}</option>
              {% endfor %}
            </select>
	    </div></div>

            <div class='panel panel-default'>
            <div class='panel-heading' style="background-color:#154771;color:white;padding: 5px 25px 5px 25px"><b>Allele frequency based on:</b></div>
            <div class='panel-body' style="padding: 10px 25px 10px 25px">
            <input type="checkbox" name='df_anc' id='df_anc' value='df_anc' checked> Maximum across population</input>
	    <br><input type="checkbox" name='gt_anc' id='gt_anc' value='gt_anc'> Ethnicity specific: Genotype predicted</input>
            <br><input type="checkbox" name='sr_anc' id='sr_anc' value='sr_anc'> Ethnicity specific: Self-reported</input>
            </div></div>
	    </p>
</div>

<script>
$("#select_genome").on('change',function(){
  $("#father").val($("#father").selectedIndex = 'no_father');
  $("#mother").val($("#mother").selectedIndex = 'no_mother');
  $("#control").val($("#control").selectedIndex = 'no_control');
});

$("#trio1").click(function () {
  $("#select_genome option:contains('trio1')").filter( function() {
    return $(this).text() == 'trio1_NA12878_daughter';
  }).prop("selected", true);

  $("#father option:contains('trio1')").filter( function() {
    return $(this).text() == 'trio1_NA12891_father';
  }).prop("selected", true);

  $("#mother option:contains('trio1')").filter( function() {
    return $(this).text() == 'trio1_NA12892_mother';
  }).prop("selected", true);
  $("#control").val($("#control").selectedIndex = 'no_control');
});

$("#trio2").click(function () {
  $("#select_genome option:contains('trio2')").filter( function() {
    return $(this).text() == 'trio2_GM24631_son';
  }).prop("selected", true);

  $("#father option:contains('trio2')").filter( function() {
    return $(this).text() == 'trio2_GM24694_father';
  }).prop("selected", true);

  $("#mother option:contains('trio2')").filter( function() {
    return $(this).text() == 'trio2_GM24695_mother';
  }).prop("selected", true);
  $("#control").val($("#control").selectedIndex = 'no_control');
});

$("#trio3").click(function () {
  $("#select_genome option:contains('trio3')").filter( function() {
    return $(this).text() == 'trio3_NA24385_son';
  }).prop("selected", true);

  $("#father option:contains('trio3')").filter( function() {
    return $(this).text() == 'trio3_NA24149_father';
  }).prop("selected", true);

  $("#mother option:contains('trio3')").filter( function() {
    return $(this).text() == 'trio3_NA24143_mother';
  }).prop("selected", true);
  $("#control").val($("#control").selectedIndex = 'no_control');
});

$("#load_genes").click(function () {
  document.getElementById('genes1').innerHTML='ATR, AR, BARD1, BAP1, BRIP1, BUB1B, BLM, CXCR4, CHEK2, POLD1, POLQ, MLH1, FAT1, FANCA, FANCC, FANCD2, FANCE, FANCF, FANCG, HNF1A, PTCH1, LMO1, MAX, PMS2, RECQL4, SETBP1, SMAD4, SMARCB1, SMARCE1, SBDS, WRN, WT1, WAS, APC, ALK, APOBEC3B, ATM, AXIN2, BMPR1A, CDH1, CDC73, CDK4, CDKN1B, CDKN2A, DDB2, DICER1, EGFR, ERBB4, ERCC2, ERCC3, ERCC4, ERCC5, BRCA1, BRCA2, CYLD, FLCN, FH, GPC3, LZTR1, MEN1, EXT1, EXT2, MSH2, MSH6, MUTYH, MPL, NF1, NF2, NBN, PHOX2B, PALB2, PRF1, PTEN, PDGFRA, POLE, PRKAR1A, PTPN13, RET, RB1, STK11, STAT3, SPOP, SDHAF2, SDHA, SDHB, SDHC, SDHD, SUFU, TERT, TSHR, TGFBR2, TMEM127, TSC1, TSC2, TP53, TP63, HRAS, KIT, KDR, VHL, XPA, XPC';
});

$("#cancer1").click(function () {
  $("#select_genome option:contains('patient1')").filter( function() {
    return $(this).text() == 'patient1_cancer_melanoma';
  }).prop("selected", true);

  $("#control option:contains('patient1')").filter( function() {
    return $(this).text() == 'patient1_blood_melanoma';
  }).prop("selected", true);
  $("#father").val($("#father").selectedIndex = 'no_father');
  $("#mother").val($("#mother").selectedIndex = 'no_mother');
})

//change default values for cancer tab depending on control selection
$("#control").on('change',function(){
  var sel = $("#control option:selected").index();
  if (sel > 0){ // with control
    $( "input[name*='can_af']" ).val('all');
  }
  else {
    $( "input[name*='can_af']" ).val('<=0.5%');
  }
});

$("#df_anc").click(function () {
  $('#gt_anc').prop('checked', false);
  $('#sr_anc').prop('checked', false);
});
$("#gt_anc").click(function () {
  $('#df_anc').prop('checked', false);
  $('#sr_anc').prop('checked', false);
});
$("#sr_anc").click(function () {
  $('#df_anc').prop('checked', false);
  $('#gt_anc').prop('checked', false);
});

</script>

            <input type="hidden" name="h_zyg" value="zyg">
            <input type="hidden" name="h_hom" value="">
            <input type="hidden" name="h_het" value="">
            <input type="hidden" name="h_ancestry" value="all">
            <input type="hidden" name="h_af" value="all">
            <input type="hidden" name="h_All" value="all">
            <input type="hidden" name="h_hig" value="">
            <input type="hidden" name="h_mod" value="">
            <input type="hidden" name="h_low" value="">
            <input type="hidden" name="h_ablation" value="ablation">
            <input type="hidden" name="h_acceptor" value="acceptor">
            <input type="hidden" name="h_donor" value="donor">
            <input type="hidden" name="h_stop-gained" value="stop-gained">
            <input type="hidden" name="h_frameshift" value="frameshift">
            <input type="hidden" name="h_stop-lost" value="stop-lost">
            <input type="hidden" name="h_start-lost" value="start-lost">
            <input type="hidden" name="h_amplification" value="amplification">
            <input type="hidden" name="h_insertion" value="insertion">
            <input type="hidden" name="h_deletion" value="deletion">
            <input type="hidden" name="h_missense" value="missense">
            <input type="hidden" name="h_prot-altering" value="prot-altering">
            <input type="hidden" name="h_reg-region" value="reg-region">
            <input type="hidden" name="h_splice-region" value="splice-region">
            <input type="hidden" name="h_incomplete" value="incomplete">
            <input type="hidden" name="h_start-retained" value="start-retained">
            <input type="hidden" name="h_stop-retained" value="stop-retained">
            <input type="hidden" name="h_synonymous" value="synonymous">
            <input type="hidden" name="dmOnly" value="dmOnly">
            <input type="hidden" name="dmQue" value="">
            <input type="hidden" name="dmOther" value="">
            <input type="hidden" name="c_zyg" value="zyg">
            <input type="hidden" name="c_hom" value="">
            <input type="hidden" name="c_het" value="">
            <input type="hidden" name="path" value="path">
            <input type="hidden" name="lpath" value="lpath">
            <input type="hidden" name="uncsig" value="">
            <input type="hidden" name="lbeni" value="">
            <input type="hidden" name="beni" value="">
            <input type="hidden" name="stars0" value="stars0">
            <input type="hidden" name="stars1" value="stars1">
            <input type="hidden" name="stars2" value="stars2">
            <input type="hidden" name="stars3" value="stars3">
            <input type="hidden" name="stars4" value="stars4">
            <input type="hidden" name="c_ancestry" value="all">
            <input type="hidden" name="c_af" value="all">
            <input type="hidden" name="c_All" value="all">
            <input type="hidden" name="c_hig" value="">
            <input type="hidden" name="c_mod" value="">
            <input type="hidden" name="c_low" value="">
            <input type="hidden" name="c_ablation" value="ablation">
            <input type="hidden" name="c_acceptor" value="acceptor">
            <input type="hidden" name="c_donor" value="donor">
            <input type="hidden" name="c_stop-gained" value="stop-gained">
            <input type="hidden" name="c_frameshift" value="frameshift">
            <input type="hidden" name="c_stop-lost" value="stop-lost">
            <input type="hidden" name="c_start-lost" value="start-lost">
            <input type="hidden" name="c_amplification" value="amplification">
            <input type="hidden" name="c_insertion" value="insertion">
            <input type="hidden" name="c_deletion" value="deletion">
            <input type="hidden" name="c_missense" value="missense">
            <input type="hidden" name="c_prot-altering" value="prot-altering">
            <input type="hidden" name="c_reg-region" value="reg-region">
            <input type="hidden" name="c_splice-region" value="splice-region">
            <input type="hidden" name="c_incomplete" value="incomplete">
            <input type="hidden" name="c_start-retained" value="start-retained">
            <input type="hidden" name="c_stop-retained" value="stop-retained">
            <input type="hidden" name="c_synonymous" value="synonymous">
	    <input type="hidden" name="o_zyg" value="zyg">
            <input type="hidden" name="o_hom" value="">
            <input type="hidden" name="o_het" value="">
            <input type="hidden" name="o_ancestry" value="all">
            <input type="hidden" name="o_af" value="<=0.5%">
            <input type="hidden" name="o_All" value="">
            <input type="hidden" name="o_hig" value="hig">
            <input type="hidden" name="o_mod" value="">
            <input type="hidden" name="o_low" value="">
            <input type="hidden" name="o_ablation" value="ablation">
            <input type="hidden" name="o_acceptor" value="acceptor">
            <input type="hidden" name="o_donor" value="donor">
            <input type="hidden" name="o_stop-gained" value="stop-gained">
            <input type="hidden" name="o_frameshift" value="frameshift">
            <input type="hidden" name="o_stop-lost" value="stop-lost">
            <input type="hidden" name="o_start-lost" value="start-lost">
            <input type="hidden" name="o_amplification" value="amplification">
            <input type="hidden" name="o_insertion" value="">
            <input type="hidden" name="o_deletion" value="">
            <input type="hidden" name="o_missense" value="">
            <input type="hidden" name="o_prot-altering" value="">
            <input type="hidden" name="o_reg-region" value="">
            <input type="hidden" name="o_splice-region" value="">
            <input type="hidden" name="o_incomplete" value="">
            <input type="hidden" name="o_start-retained" value="">
            <input type="hidden" name="o_stop-retained" value="">
            <input type="hidden" name="o_synonymous" value="">
            <input type="hidden" name="d_zyg" value="zyg">
            <input type="hidden" name="d_hom" value="">
            <input type="hidden" name="d_het" value="">
            <input type="hidden" name="d_ancestry" value="all">
            <input type="hidden" name="d_af" value="<=0.5%">
            <input type="hidden" name="d_All" value="">
            <input type="hidden" name="d_hig" value="hig">
            <input type="hidden" name="d_mod" value="">
            <input type="hidden" name="d_low" value="">
            <input type="hidden" name="d_ablation" value="ablation">
            <input type="hidden" name="d_acceptor" value="acceptor">
            <input type="hidden" name="d_donor" value="donor">
            <input type="hidden" name="d_stop-gained" value="stop-gained">
            <input type="hidden" name="d_frameshift" value="frameshift">
            <input type="hidden" name="d_stop-lost" value="stop-lost">
            <input type="hidden" name="d_start-lost" value="start-lost">
            <input type="hidden" name="d_amplification" value="amplification">
            <input type="hidden" name="d_insertion" value="">
            <input type="hidden" name="d_deletion" value="">
            <input type="hidden" name="d_missense" value="">
            <input type="hidden" name="d_prot-altering" value="">
            <input type="hidden" name="d_reg-region" value="">
            <input type="hidden" name="d_splice-region" value="">
            <input type="hidden" name="d_incomplete" value="">
            <input type="hidden" name="d_start-retained" value="">
            <input type="hidden" name="d_stop-retained" value="">
            <input type="hidden" name="d_synonymous" value="">
            <input type="hidden" name="d_All" value="">
            <input type="hidden" name="d_ani" value="">
            <input type="hidden" name="d_ahi" value="ahi">
            <input type="hidden" name="d_alof" value="">
            <input type="hidden" name="d_disrupt" value="disrupt"> 
            <input type="hidden" name="d_frameshift" value="frameshift">
            <input type="hidden" name="d_nonsense" value="nonsense">
            <input type="hidden" name="d_misstart" value="misstart">
            <input type="hidden" name="d_nonstop" value="nonstop">
            <input type="hidden" name="d_missense" value="">
            <input type="hidden" name="d_in-frame-deletion" value="">
            <input type="hidden" name="d_in-frame-insertion" value="">
            <input type="hidden" name="d_synonymous" value="">
            <input type="hidden" name="a_zyg" value="zyg">
            <input type="hidden" name="a_hom" value="">
            <input type="hidden" name="a_het" value="">
            <input type="hidden" name="a_ancestry" value="all">
            <input type="hidden" name="a_af" value="<=0.5%">
            <input type="hidden" name="a_All" value="">
            <input type="hidden" name="a_hig" value="hig">
            <input type="hidden" name="a_mod" value="">
            <input type="hidden" name="a_low" value="">
            <input type="hidden" name="a_ablation" value="ablation">
            <input type="hidden" name="a_acceptor" value="acceptor">
            <input type="hidden" name="a_donor" value="donor">
            <input type="hidden" name="a_stop-gained" value="stop-gained">
            <input type="hidden" name="a_frameshift" value="frameshift">
            <input type="hidden" name="a_stop-lost" value="stop-lost">
            <input type="hidden" name="a_start-lost" value="start-lost">
            <input type="hidden" name="a_amplification" value="amplification">
            <input type="hidden" name="a_insertion" value="">
            <input type="hidden" name="a_deletion" value="">
            <input type="hidden" name="a_missense" value="">
            <input type="hidden" name="a_prot-altering" value="">
            <input type="hidden" name="a_reg-region" value="">
            <input type="hidden" name="a_splice-region" value="">
            <input type="hidden" name="a_incomplete" value="">
            <input type="hidden" name="a_start-retained" value="">
            <input type="hidden" name="a_stop-retained" value="">
            <input type="hidden" name="a_synonymous" value="">
            <input type="hidden" name="p_zyg" value="zyg">
            <input type="hidden" name="p_hom" value="">
            <input type="hidden" name="p_het" value="">
            <input type="hidden" name="cpic" value="cpic">
            <input type="hidden" name="vip" value="vip">
            <input type="hidden" name="pgrn" value="pgrn">
            <input type="hidden" name="p_ancestry" value="all">
            <input type="hidden" name="p_af" value="<=0.5%">
            <input type="hidden" name="p_All" value="">
            <input type="hidden" name="p_hig" value="hig">
            <input type="hidden" name="p_mod" value="">
            <input type="hidden" name="p_low" value="">
            <input type="hidden" name="p_ablation" value="ablation">
            <input type="hidden" name="p_acceptor" value="acceptor">
            <input type="hidden" name="p_donor" value="donor">
            <input type="hidden" name="p_stop-gained" value="stop-gained">
            <input type="hidden" name="p_frameshift" value="frameshift">
            <input type="hidden" name="p_stop-lost" value="stop-lost">
            <input type="hidden" name="p_start-lost" value="start-lost">
            <input type="hidden" name="p_amplification" value="amplification">
            <input type="hidden" name="p_insertion" value="">
            <input type="hidden" name="p_deletion" value="">
            <input type="hidden" name="p_missense" value="">
            <input type="hidden" name="p_prot-altering" value="">
            <input type="hidden" name="p_reg-region" value="">
            <input type="hidden" name="p_splice-region" value="">
            <input type="hidden" name="p_incomplete" value="">
            <input type="hidden" name="p_start-retained" value="">
            <input type="hidden" name="p_stop-retained" value="">
            <input type="hidden" name="p_synonymous" value="">
            <input type="hidden" name="g_zyg" value="zyg">
            <input type="hidden" name="g_hom" value="">
            <input type="hidden" name="g_het" value="">
            <input type="hidden" name="g_ancestry" value="all">
            <input type="hidden" name="g_af" value="<=0.5%"> 
            <input type="hidden" name="g_All" value="">
            <input type="hidden" name="g_hig" value="hig">
            <input type="hidden" name="g_mod" value="">
            <input type="hidden" name="g_low" value="">
            <input type="hidden" name="g_ablation" value="ablation">
            <input type="hidden" name="g_acceptor" value="acceptor">
            <input type="hidden" name="g_donor" value="donor">
            <input type="hidden" name="g_stop-gained" value="stop-gained">
            <input type="hidden" name="g_frameshift" value="frameshift">
            <input type="hidden" name="g_stop-lost" value="stop-lost">
            <input type="hidden" name="g_start-lost" value="start-lost">
            <input type="hidden" name="g_amplification" value="amplification">
            <input type="hidden" name="g_insertion" value="">
            <input type="hidden" name="g_deletion" value="">
            <input type="hidden" name="g_missense" value="">
            <input type="hidden" name="g_prot-altering" value="">
            <input type="hidden" name="g_reg-region" value="">
            <input type="hidden" name="g_splice-region" value="">
            <input type="hidden" name="g_incomplete" value="">
            <input type="hidden" name="g_start-retained" value="">
            <input type="hidden" name="g_stop-retained" value="">
            <input type="hidden" name="g_synonymous" value="">
            <input type="hidden" name="denovodb" value="yes">
            <input type="hidden" name="t_zyg" value="">
            <input type="hidden" name="t_hom" value="">
            <input type="hidden" name="t_het" value="het">
            <input type="hidden" name="t_ancestry" value="all">
            <input type="hidden" name="t_af" value="<=0.5%">
            <input type="hidden" name="t_All" value="">
            <input type="hidden" name="t_hig" value="hig">
            <input type="hidden" name="t_mod" value="">
            <input type="hidden" name="t_low" value="">
            <input type="hidden" name="t_ablation" value="ablation">
            <input type="hidden" name="t_acceptor" value="acceptor">
            <input type="hidden" name="t_donor" value="donor">
            <input type="hidden" name="t_stop-gained" value="stop-gained">
            <input type="hidden" name="t_frameshift" value="frameshift">
            <input type="hidden" name="t_stop-lost" value="stop-lost">
            <input type="hidden" name="t_start-lost" value="start-lost">
            <input type="hidden" name="t_amplification" value="amplification">
            <input type="hidden" name="t_insertion" value="">
            <input type="hidden" name="t_deletion" value="">
            <input type="hidden" name="t_missense" value="">
            <input type="hidden" name="t_prot-altering" value="">
            <input type="hidden" name="t_reg-region" value="">
            <input type="hidden" name="t_splice-region" value="">
            <input type="hidden" name="t_incomplete" value="">
            <input type="hidden" name="t_start-retained" value="">
            <input type="hidden" name="t_stop-retained" value="">
            <input type="hidden" name="t_synonymous" value="">
            <input type="hidden" name="can_cosmic" value="cosmic">
            <input type="hidden" name="can_census" value="census">
	    <input type="hidden" name="can_zyg" value="zyg">
            <input type="hidden" name="can_hom" value="">
            <input type="hidden" name="can_het" value="">
            <input type="hidden" name="can_ancestry" value="all">
            <input type="hidden" name="can_af"  value="<=0.5%">
            <input type="hidden" name="can_All" value="">
            <input type="hidden" name="can_hig" value="hig">
            <input type="hidden" name="can_mod" value="">
            <input type="hidden" name="can_low" value="">
            <input type="hidden" name="can_ablation" value="ablation">
            <input type="hidden" name="can_acceptor" value="acceptor">
            <input type="hidden" name="can_donor" value="donor">
            <input type="hidden" name="can_stop-gained" value="stop-gained">
            <input type="hidden" name="can_frameshift" value="frameshift">
            <input type="hidden" name="can_stop-lost" value="stop-lost">
            <input type="hidden" name="can_start-lost" value="start-lost">
            <input type="hidden" name="can_amplification" value="amplification">
            <input type="hidden" name="can_insertion" value="">
            <input type="hidden" name="can_deletion" value="">
            <input type="hidden" name="can_missense" value="">
            <input type="hidden" name="can_prot-altering" value="">
            <input type="hidden" name="can_reg-region" value="">
            <input type="hidden" name="can_splice-region" value="">
            <input type="hidden" name="can_incomplete" value="">
            <input type="hidden" name="can_start-retained" value="">
            <input type="hidden" name="can_stop-retained" value="">
            <input type="hidden" name="can_synonymous" value="">
            <input type="hidden" name="h_reset" value="h_reset">
            <input type="hidden" name="c_reset" value="c_reset">
            <input type="hidden" name="o_reset" value="o_reset">
            <input type="hidden" name="d_reset" value="d_reset">
            <input type="hidden" name="a_reset" value="a_reset">
            <input type="hidden" name="p_reset" value="p_reset">
            <input type="hidden" name="g_reset" value="g_reset">
            <input type="hidden" name="t_reset" value="t_reset">
            <input type="hidden" name="can_reset" value="can_reset">
	{% if priviledge == "yes" %}
            <input type="hidden" id='fil_sel' name="fil_sel" value=' '>
            <input type="hidden" id='tab_sel' name="tab_sel" value=' '>
	{%else%}
            <input type="hidden" id='fil_sel' name="fil_sel" value='clin20'>
            <input type="hidden" id='tab_sel' name="tab_sel" value='clin20'>
	{%endif%}

            <div align="right">
            <button style="background-color: #154771;color: #ffffff;" align="right" type="submit" class="btn btn-default">Generate report</button>
            </div>
          </form>  
        </ul>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
{% endblock %}

