{% extends "base.html" %}
{% block content %}
{% if success %}
    <div class="alert alert-success">
        {{ filename }} was successfully uploaded.
    </div>
{% else %}
    {% if reason in ['bad_file','no_file','bad_sample_id'] %}
        {% set file_flag = "has-error" %}
    {% endif %}
{% endif %}
{% if session.get('username') == "guest" %}
    <div class="alert alert-danger">
        NOTE: You are using an open account created for demonstration purpose. Please avoid uploading any data that are not on public domain. For protected data, contact <a href="mailto:gnome.pipeline@gmail.com">us</a> to set up local installation or to create private account.
    </div>
{% endif %}
<div class="sidebar-nav-fixed well col-sm-offset-3 col-sm-6">
<h1>Upload files</h1>
<form class="form-horizontal" method="POST" ENCTYPE="multipart/form-data" action="{{url_for('upload_genome')}}">
    <div class="form-group">
        <label class="control-label col-sm-2" for="genome_build">Genome build</label>
        <div class="col-sm-8">
            <select class="form-control" name="genome_build" id="genome_build">
                <option selected>hg19</option>
                <option disabled>hg38</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="genome_ancestry">Ancestry</label>
        <div class="col-sm-8">
            <select class="form-control" name="genome_ancestry" id="genome_ancestry">
                <option value="unknown" selected>Unknown/Unspecified</option>
                <option value="AFR">African</option>
                <option value="EAS">East Asian</option>
                <option value="EUR">European</option>
                <option value="SAS">South Asian</option>
                <option value="AMR">American</option>
            </select>
        </div>
    </div>
    <div class="form-group {{file_flag}}">
        <label class="control-label col-sm-2 " for="FILE">Variant file</label>
        <div class="col-sm-8">
            <input class="form-control my-form-control" type="FILE" name="FILE" id="FILE" style="height:auto;">
        {% if reason in ['bad_sample_id'] %}
        <p class="help-block">Bad sample name in the input file. Only underscore (_) and alphanumeric characters are allowed in sample names.</p>
        {% else %}
        <p class="help-block">CGAR supports only VCF files (including gzip-compressed). Due to limitation on storage space, please contact us before uploading a large dataset (more than 100 individuals).</p>
        {% endif %}
        </div>
    </div> <!-- form group 1 -->
    <!--div class="form-group">
        <label class="control-label col-sm-2" for="genome_ancestry">Ancestry</label>
        <div class="col-sm-8">
            <label class="radio-inline"><input type="radio" name="genome_ancestry" value="unknown" checked>Unknown</label>
            <label class="radio-inline"><input type="radio" name="genome_ancestry" value="AFR">African</label>
            <label class="radio-inline"><input type="radio" name="genome_ancestry" value="ASN">Asian</label>
            <label class="radio-inline"><input type="radio" name="genome_ancestry" value="EUR">European</label>
            <label class="radio-inline"><input type="radio" name="genome_ancestry" value="MIX">American/Admix</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="genome_build">Genome build</label>
        <div class="col-sm-8">
            <label class="radio-inline"><input type="radio" name="genome_build" value="hg19" checked>hg19</label>
            <label class="radio-inline"><input type="radio" name="genome_build" value="hg18">hg18</label>
        </div>
    </div-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2 form-actions centered">
            <button style="background-color: #154771;color: #ffffff;" align="center" type="submit" class="btn btn-primary">Upload Genome</button>
        </div>
    </div>
</form> <!-- form -->
</div>
<p>
<div class='row'>
<div class="col-md-offset-1 col-md-10">
<table class="display justified" id="genome_list">
    <thead>
        <th>Genome label</th>
        <th>Genome file name</th>
        <th>Genome build</th>
        <th>Genome ancestry</th>
        <th>Annotation</th>
	<th>Uploaded</th>
    </thead>
    <tbody>
{% set ancestryH = {'EAS':'East Asian','SAS':'South Asian','ASN':'Asian','EUR':'European','AFR':'African','MIX':'American/Admix'} %}
{% for row in genomeL %}
        <tr>
            <td>{{row[0]}}</td> <!--genome label-->
            <td>{{row[1]}}</td> <!--genome filename-->
            <td>{{row[2]}}</td> <!--genome build-->
            {% if row[3] in ancestryH %}
            <td>{{ancestryH[row[3]]}}</td> <!--genome ancestry-->
            {%else%}
            <td>Unspecified</td>
            {%endif%}
            <td>{{row[4]}}</td> <!--analysis-->
            {% if row[5] == None %}
	    <td>Not available</td>
            {% else %}
            {% set val = my_format_time(row[5]).split('|') %}
            <td>{{val[0]}}<br>{{val[1]}}</td> <!--uploaded_at-->
            {% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>
</div>
<div class='col-md-1'></div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#genome_list').DataTable({
            "columnDefs": [ {"orderable":false, "targets":0} ],
            "order": [[0, 'asc'], [ 1, 'asc' ]],
            "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]]
        });
    });
</script>

{% endblock %}
